#player_area
  #player{data: {user_id: current_user.try(:id), video_id: @video.id, video_code: @video.code, video_session_code: @video_session_code}}

%ul#videos_list
  %h4 Videos
  - Video.all.each do |video|
    - title = truncate(video.title, length: 20)
    %li
      - if video.id == @video.id
        %a.tiny.button.video.disabled= title
      - else
        %a.tiny.button.video{href: "/videos/watch/?id=#{video.id}"}= title

%ul#sessions_list
  %h4 Graphs
  - if current_user.professor? && @students_session_codes.present?
    %li.students
      %a.tiny.button.session{data: {reveal_id: "studentsModal"}}
        = "Previous Attention Graphs"

  - @video.sessions(current_user.id).each do |s|
    %li.personal
      %a.tiny.button.session.personal{data: {session_code: s[0], reveal_id: "graphsModal"}}
        = s[1].strftime("%b %d %H:%M:%S")
      %a.tiny.secondary.button.session_delete{data: {session_code: s[0]}}
        x


#graphsModal.reveal-modal.transparent{"data-reveal" => ""}
  #waves_graphs.hide
    - Wave.types.each do |wave_type, wave_name|
      %h4.light
        %span= "#{wave_name} (#{wave_type.to_s})"
      .aGraph.transparent{wave_type: wave_type}
  %a.close-reveal-modal ×


#studentsModal.reveal-modal.transparent{"data-reveal" => ""}
  #waves_graphs.hide
    %h4.light
      %span= "Average"
    .aGraph.average.transparent

    - @students_session_codes.each do |session_code|
      - session = VideoSession.where(code: session_code, state: "playing").first
      %h4.light
        %span= session.try(:user).try(:name).present? ? session.user.name : "Anonymous"
      .aGraph.student.transparent{student_code: session.code}
  %a.close-reveal-modal ×


#resetModal.reveal-modal{"data-reveal" => ""}
  %h4.light
    %span= "Your Viewing Experience was Interrupted"

  - sc = @video.sessions(current_user.id).try(:last).try(:first) || @video_session_code
  %a.button.alert.resetBtn.session_delete{data: {session_code: sc}}
    = "Please click to Reset"
  %a.close-reveal-modal ×


%script{src: "http://www.youtube.com/player_api"}
= javascript_include_tag 'application', 'youtube_watch', 'video_sessions_line_graphs', 'students_line_graphs'

